.ImgstyleBox {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(30px);
  border-radius: 5px;
  /* transform: skewX(5deg); */
}

.Imgstyle {
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.ImgstyleBox img:hover {
  transform: skewX(5deg) translateY(-2px);
  transition: transform 0.5s ease;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills-row .ImgstyleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For tablet */
/* @media (max-width: 768px) {
  .skills-row .ImgstyleBox {
    flex: 0 1 80px;
  }
} */

/* For mobile */
@media (max-width: 480px) {
  .skills-row .ImgstyleBox {
    flex: 0 1 70px;
  }
}